<footer>
  <section class="content">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
        <h3>Documentation</h3>
        <ul>
          <li><a href="http://nim-lang.org/news/documentation.html">Stable Documentation</a></li>
          <li><a href="http://nim-lang.org/news/learn.html">Learning Resources</a></li>
          <li><a href="https://github.com/nim-lang/nim">Issues &amp; Requests</a></li>
          <br>
          <li><a href="{{ site.baseurl }}/documentation/">More…</a></li>
        </ul>
      </div>
      <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
        <h3>Community</h3>
        <ul>
          <li><a href="http://forum.nim-lang.org/">User Forum</a></li>
          <li><a href="http://webchat.freenode.net/?channels=nim">Online IRC</a></li>
          <li><a href="http://irclogs.nim-lang.org/">IRC Logs</a></li>
          <br>
          <li><a href="{{ site.baseurl }}/community/">More…</a></li>
        </ul>
      </div>
    </div>
    <div class="text-centered copyright">
      <p>© 2016 Nim developers</p>
    </div>
  </section>
</footer>
<script src="{{ site.baseurl }}/assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
