<header>
  <nav class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <div class="nav-content">
      <a href="{{ site.baseurl }}/" class="pure-menu-heading pure-menu-link site-logo-container">
        <img class="site-logo" src="{{ site.baseurl }}/assets/img/logo.svg" height="28" alt="Nim">
      </a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/blog.html" class="pure-menu-link">Blog</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/features.html" class="pure-menu-link">Features</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/install.html" class="pure-menu-link">Install</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/documentation.html" class="pure-menu-link">Documentation</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/community.html" class="pure-menu-link">Community</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/sponsors.html" class="pure-menu-link">Sponsors</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/donate.html" class="pure-menu-link">Donate</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/faq.html" class="pure-menu-link">FAQ</a></li>
      </ul>
    </div>
    <div class="menu-fade"></div>
  </nav>
</header>
