<header>
  <nav class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <div class="nav-content">
      <a href="{{ site.baseurl }}/" class="pure-menu-heading pure-menu-link">
        <img class="site-logo" src="{{ site.baseurl }}/assets/img/logo.svg" height="30" alt="Nim">
      </a>
      <div class="menu-separator"></div>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/news/" class="pure-menu-link">News</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/examples/" class="pure-menu-link">Examples</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/download/" class="pure-menu-link">Download</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/contribute/" class="pure-menu-link">Contribute</a></li>
      </ul>
    </div>
  </nav>
</header>
