<header>
  <div class="banner">
    <a class="banner-link" href="https://goo.gl/forms/t2gWWBEDC1walw6s2">
      The 2018 Nim survey is live. <span class="banner-grey">Your answers are appreciated, even if you're new to Nim!</span><a class="pure-button" href="https://goo.gl/forms/t2gWWBEDC1walw6s2">Answer now</a>
    </a>
  </div>
  <a href="https://github.com/nim-lang/nim" class="ribbon">
    <img style="position: absolute; top: 0; right: 0; border: 0;" height="150" src="{{ site.baseurl }}/assets/img/forkme.svg" alt="Fork me on GitHub">
  </a>
  <nav class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <div class="nav-content">
      <a href="{{ site.baseurl }}/" class="pure-menu-heading pure-menu-link site-logo-container">
        <img class="site-logo" src="{{ site.baseurl }}/assets/img/logo.svg" height="28" alt="Nim">
      </a>
      <ul class="pure-menu-list">
        {% for item in site.navigation %}
        <li class="pure-menu-item">
          <a href="{{ site.baseurl }}{{ item.url }}"
             class="pure-menu-link {% if page.current == item.title or layout.current == item.title or page.title == item.title %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-fade"></div>
  </nav>
</header>
