<header>
  <nav class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <div class="nav-content">
      <a href="{{ site.baseurl }}/" class="pure-menu-heading pure-menu-link site-logo-container">
        <img class="site-logo" src="{{ site.baseurl }}/assets/img/logo.svg" height="28" alt="Nim">
      </a>
      <ul class="pure-menu-list">
        {% for item in site.navigation %}
        <li class="pure-menu-item">
          <a href="{{ site.baseurl }}{{ item.url }}"
             class="pure-menu-link {% if page.current == item.title or layout.current == item.title or page.title == item.title %}current{% endif %}">
            {{ item.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="menu-fade"></div>
  </nav>
</header>
