<head>
  <meta name="charset" content="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description | normalize_whitespace }}">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/logo_bw.png" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pure.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pure-grids-responsive.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% if page.title != "Nim programming language" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highlight/github.css">
  {% else %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/highlight/dracula.css">
  {% endif %}

  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Titillium+Web" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

</head>
