---
layout: page
title: Blog
---

<section class="content slim">
  <h1 class="main-heading page-title">Blog</h1>
  <h2 class="text-centered page-subtitle">
    Our blog is home to many articles consisting of announcements,
    descriptions of the language, use cases and much more. You will find articles
    written by both the Nim developers as well as guest authors.
  </h2>
  {% for post in site.posts %}
    <div class="pure-g news-item">
      <div class="pure-u-1 pure-u-md-1-4">
        <div class="post-meta">
          <span>
            <i class="far fa-calendar-alt" aria-hidden="true"></i>
            {{ post.date | date_to_long_string }}
          </span>
          {% for author in post.author %}
          <span>
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            {{ author }}
          </span>
          {% endfor %}
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-3-4">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt }}
      </div>
    </div>
    <hr>
  {% endfor %}
  <p class="feed-rss"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a></p>
</section>
