---
layout: default
title: Nim programming language
---

<section class="main jumbotron">
  <section class="content">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-3-5 main-block">
        <h1>Efficient and expressive programming.</h1>
        <h2>Nim is a systems and applications programming language. Statically typed and compiled, it provides unparalleled performance in an elegant package.</h2>
        <ul>
          <li>High-performance garbage-collected language</li>
          <li>Compiles to C, C++ or JavaScript</li>
          <li>Produces dependency-free binaries</li>
          <li>Runs on Windows, macOS, Linux, and more</li>
        </ul>
        <div class="text-centered">
          <!--<a class="version-button" href="#todo">v0.17.0</a>-->
          <a class="pure-button pure-button-primary" href="{{ site.baseurl }}/install.html">Install</a>
          <a class="pure-button" href="{{ site.baseurl }}/features.html">Learn more</a>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-5">
        {% highlight nim %}
# Compute average line length
var
  sum = 0
  count = 0

for line in stdin.lines:
  sum += line.len
  count += 1

echo("Average line length: ",
     if count > 0: sum / count else: 0)
{% endhighlight %}
        <div class="text-centered">
          <a href="http://rosettacode.org/wiki/Category:Nim">More examples…</a>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="content">
  <h1 class="section-heading">Blog</h1>
  <div class="pure-g">
    {% for post in site.posts limit: 2 %}
      <div class="news-item pure-u-1 pure-u-md-1-2">
        <div class="post-meta">{{ post.date | date_to_long_string }}</div>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt }}
      </div>
    {% endfor %}
  </div>
  <p class="feed-rss">
    <a href="{{ "/blog.html" | prepend: site.baseurl }}">All articles</a>
  </p>
</section>

<section class="background-faded call-to-action">
  <section class="content text-centered">
    <h2>Featured projects</h2>
    <div class="pure-g center">
      <div class="pure-u-1-3">
        <div class="project-container">
          <a href="https://github.com/Araq/karax">
            <div class="project-box" id="karax">
              <h1>K</h1>
            </div>
            <span class="tag">SPA framework</span>
            <h1 class="title">karax</h1>
          </a>
        </div>

        <div class="project-container">
          <a href="http://fragworks.io/">
            <div class="project-box" id="frag">
              <h1>F</h1>
            </div>
            <span class="tag">Game framework</span>
            <h1 class="title">frag</h1>
          </a>
        </div>

        <div class="project-container">
          <a href="https://github.com/yglukhov/nimx">
            <div class="project-box" id="nimx">
              <h1>N</h1>
            </div>
            <span class="tag">GUI library</span>
            <h1 class="title">nimx</h1>
          </a>
        </div>
      </div>
    </div>
    <a class="pure-button" href="https://github.com/trending/nim">See more</a>
  </section>
</section>

<section class="content center-banner">
  <h1 class="section-heading">
    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
    Looking for the GitHub repository?
  </h1>
  <div class="pure-g center">
    <div class="pure-u-1-2">
      <p>
        The Nim compiler and tools are all written in Nim and licensed under the
        MIT license, with most development taking place on GitHub.
        Be sure to watch the repository to get updates on Nim's
        development, or star it to give us some brownie points.
      </p>
    </div>
    <div class="pure-u-1 center">
      <a class="pure-button" href="https://github.com/nim-lang/Nim">Source code</a>
    </div>
  </div>
</section>

<section class="jumbotron" id="book">
  <section class="content">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-5">
        <img height="470px" class="pure-img" src="{{ site.baseurl }}/assets/img/nim_in_action_cover.png"/>
      </div>
      <div class="pure-u-1 pure-u-md-3-5 main-block">
        <h1>Now available.</h1>
        <h2>
          The first Nim book, Nim in Action, is now available for purchase as
          an eBook or printed soft cover book.<span class="disclaimer">*</span>
          Learn the basics such as Nim's
          syntax, advanced features including macros and gain practical
          experience with the language by being lead through multiple
          application development examples.
        </h2>
        <ul>
          <li>Teaches the basics including the syntax of Nim.</li>
          <li>Explains how to use the Nimble package manager.</li>
          <li>
            Includes step-by-step instructions and explanations of
            how to develop various applications, including a chat program,
            Twitter clone and more.
          </li>
        </ul>
        <p class="disclaimer">
          * Printed soft cover book hasn't been released yet. ETA May 2017.
        </p>
        <a class="pure-button pure-button-primary" href="https://manning.com/books/nim-in-action?a_aid=niminaction&a_bid=78a27e81">Learn more</a>
      </div>
    </div>
  </section>
</section>

<section class="content center-banner">
  <h1 class="section-heading">
    <img height="100px" src="{{ site.baseurl }}/assets/img/piggy.svg"/>
    Support Nim
  </h1>
  <div class="pure-g center">
    <div class="pure-u-1-2">
      <h1>Join the 100+ companies and individuals that support Nim</h1>
      <h2>
        The Nim project is developed globally by a group of
        volunteers. We welcome recurring donations, which enable us to spend more
        time working on Nim.
      </h2>
    </div>
    <div class="pure-u-1 center">
      <a class="pure-button pure-button-primary" href="{{ site.baseurl }}/donate.html">Donate</a>
    </div>
  </div>
</section>

<section class="background-faded call-to-action">
  <section class="content text-centered">
    <h2>Top sponsors</h2>
    <div class="pure-g center">
      <div class="pure-u-1-3">
        {% for sponsor in site.data.sponsors %}
          {% if sponsor.level == "250" %}
            <div class="sponsor-container">
              <a href="{{sponsor.url}}">
                <img src="{{ site.baseurl }}/{{sponsor.logo}}"/>
                <span class="green tag">+${{sponsor.this_month}}/month</span>
                <p class="title">{{sponsor.name}}</p>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <a class="pure-button" href="{{ site.baseurl }}/sponsors.html">See more</a>
  </section>
</section>

<section class="jumbotron" id="community">
  <section class="content">
    <h1>Community</h1>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-4">
        <h2>IRC/Gitter</h2>
        <h3>Real-time chat</h3>
        <a href="irc://freenode.net/nim"><i class="fa fa-irc">#</i>FreeNode#nim</a><br/>
        <a href="https://gitter.im/nim-lang/Nim"><i class="fa fa-gitter"></i>nim-lang/Nim</a>
      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <h2>Forum</h2>
        <h3>Threaded communication</h3>
        <a href="https://forum.nim-lang.org">
          <i class="fa fa-comments" aria-hidden="true"></i>
          https://forum.nim-lang.org
        </a>

      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <h2>GitHub issues</h2>
        <h3>Bug reports</h3>
        <a href="https://github.com/nim-lang/Nim/issues">
          <i class="fa fa-github" aria-hidden="true"></i>
          nim-lang/Nim
        </a>

      </div>
      <div class="pure-u-1 pure-u-md-1-4">
        <h2>Twitter</h2>
        <h3>Announcements</h3>

        <a href="https://twitter.com/nim_lang">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          @nim_lang
        </a>
      </div>
      <div class="pure-u-1 center">
        <a class="pure-button" href="{{ site.baseurl }}/community.html">Join the community</a>
      </div>
    </div>

  </section>
</section>

<section class="content center-banner">
  <h1 class="section-heading">
    <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
    Learn Nim today
  </h1>
  <div class="pure-g center">
    <div class="pure-u-1-2">
      <p>
        Build command-line applications, games, web servers, kernels and everything
        else in between. Nim has a low barrier to entry and offers powerful
        features you won't find in many mainstream programming languages.
      </p>
    </div>
    <div class="pure-u-1 center">
      <a class="pure-button" href="{{ site.baseurl }}/docs/tut1.html">Get started now</a>
    </div>
  </div>
</section>