---
layout: default
title: Sponsors
css_class: sponsors
---

<h1 class="text-centered page-title main-heading">Current Sponsors</h1>
<h3 class="text-centered page-subtitle">
This section lists the companies and individuals that are, very kindly, contributing a monthly amount to help sustain Nim development. For more details take a look at the <a href="{{ site.baseurl }}/donate.html">donate page</a>.

<p><small>Last updated: <time>08/01/2017</time></small></p><!--TODO use _config.yml to update this-->
</h3>

<section class="background-faded call-to-action">
  <section class="content text-centered">
    <h2>Top sponsors</h2>
    <div class="pure-g center">

      <div class="pure-u-1-3">
        {% for sponsor in site.data.sponsors %}
          {% if sponsor.level == "250" %}
            <div class="sponsor-container">
              <a href="{{sponsor.url}}">
                <img src="{{ site.baseurl }}/{{sponsor.logo}}"/>
                <span class="green tag">+${{sponsor.this_month}}/month</span>
                <br/>
                <span class="tag">${{sponsor.all_time}} total</span>
                <p class="title">{{sponsor.name}}</p>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</section>

<div class="site-content slim content" style="margin-top: 50px;">
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="name">Sponsor</th>
        <th>This month</th>
        <th>Total</th>
        <th>First contribution</th>
      </tr>
    </thead>
    <tbody>
    {% for sponsor in site.data.sponsors %}
      {% if sponsor.level != "250" %}
        <tr>
          {% if sponsor.logo %}
            <td><img src="/{{sponsor.logo}}"></img></td>
          {% else %}
            <td></td>
          {% endif %}
          {% if sponsor.url%}
          <td class="name"><a href="{{sponsor.url}}">{{sponsor.name}}</a></td>
          {% else %}
          <td>{{sponsor.name}}</td>
          {%endif%}
          <td>${{sponsor.this_month}}</td>
          <td>${{sponsor.all_time}}</td>
          <td>{{sponsor.since}}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>

  <h1 class="text-centered page-title">Past sponsors</h1>
  <h3 class="text-centered page-subtitle">
    This section lists the companies and individuals that contributed financially to Nim development in the past.
  </h3>
  <table>
    <thead>
      <tr>
        <th class="name">Sponsor</th>
        <th>Total</th>
        <th>First contribution</th>
      </tr>
    </thead>
    <tbody>
      {% for sponsor in site.data.inactive_sponsors %}
          <tr>
            <td>{{sponsor.name}}</td>
            <td>${{sponsor.all_time}}</td>
            <td>{{sponsor.since}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>