$dark-color: #222430;
$jumbotron-background-color: darken($dark-color, 5%);
$jumbotron-color: #fff;
$footer-background-color: darken($dark-color, 5%);
$footer-color: #888;
$default-background-color: #fdfdfd;
$default-color: #333;
$desktop-default-font-size: 17px;
$mobile-default-font-size: 15px;
$menu-background-color: darken($dark-color, 5%);
$menu-color: #fff;
$menu-separator-color: #888;
$highlight-color: #ffe953;
$a-color: darken($highlight-color, 36%);
$a-dark-color: $highlight-color;
$a-footer-color: #ccc;
$menu-height: 51px;
$menu-fade-width: 80px;
$hr-color: #cfcfcf;


$index-code-bg: #282a36;