.site-content {
  section {
    padding-bottom: 100px;
    .section-heading {
      font-size: 2.5rem;
      padding: 40px 0;
      margin: 0;
    }
    .section-subheading {
      color: hotpink
    }
  }
}