$dark-color: #222430;

$jumbotron-color: #fff;
$footer-background-color: darken($dark-color, 5%);
$footer-color: #888;
$default-background-color: #fdfdfd;
$default-color: #111;
$desktop-default-font-size: 18px;
$mobile-default-font-size: 16px;
$menu-background-color: darken($dark-color, 5%);
$menu-color: #fff;
$menu-separator-color: #888;
$highlight-color: #ffe953;
$a-color: darken($highlight-color, 36%);
$a-dark-color: $highlight-color;
$a-footer-color: #ccc;
$menu-height: 51px;
$menu-fade-width: 80px;
$hr-color: #cfcfcf;


$index-code-bg: #2b2e3b;
$jumbotron-background-color: #232733;
$main-jumbotron-background-color: darken($dark-color, 2%);
$faded-background-color: darken($default-background-color, 8%);
